<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'createdOrders.title' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
        <!-- Barre de recherche -->
      <div class="order-actions">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>
            <mat-icon matSuffix>search</mat-icon>
            {{ 'createdOrders.search' | translate }}
          </mat-label>
          <input matInput (keyup)="filterOrder($event)" />
        </mat-form-field>
      </div>

      <div class="table-container">
        <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Customer Column -->
          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'createdOrders.customer' | translate }} </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span *ngIf="shouldShowRowSpan(i)" [attr.rowspan]="getRowSpan(i)">
                {{ element.order.customer.name }}
              </span>
            </td>
          </ng-container>

          <!-- Product Column -->
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'createdOrders.product' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.product.name }} </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'createdOrders.price' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.product.price | number:'1.2-2' }} </td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'createdOrders.quantity' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
          </ng-container>

          <!-- Payment Button -->
          <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef> {{ 'createdOrders.payment' | translate }} </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span *ngIf="shouldShowRowSpan(i)" [attr.rowspan]="getRowSpan(i)">
                <button (click)="makePayment(element.order.customer.customerIdEvent)" mat-raised-button color="primary">
                  <mat-icon>monetization_on</mat-icon>
                </button>
              </span>
            </td>
          </ng-container>

          <!-- Details Button -->
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> {{ 'createdOrders.details' | translate }} </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span *ngIf="shouldShowRowSpan(i)" [attr.rowspan]="getRowSpan(i)">
                <button (click)="getOrder(element.order.customer.customerIdEvent)" mat-raised-button color="accent">
                  <mat-icon>details</mat-icon>
                </button>
              </span>
            </td>
          </ng-container>

          <!-- Cancel Button -->
          <ng-container matColumnDef="cancel">
            <th mat-header-cell *matHeaderCellDef> {{ 'createdOrders.cancel' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <button (click)="cancelOrder(element.orderIdEvent)" mat-raised-button color="warn">
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator
        [pageSizeOptions]="[10, 20, 40]"
        showFirstLastButtons
        aria-label="Select page of created orders">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
