.create-order{
    
    margin-top: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    justify-content: center;
}
.button-order{
    
    margin-top: 40px;
    margin-right: 110px;
    margin-bottom: 20px;
    justify-content: center;
}



button {
    width: 100%;
    max-width: 300px; /* Ajuste la taille du bouton */
}
mat-toolbar {
   
    gap: 20px; /* Espacement uniforme entre les champs */
    margin-bottom: 20px; /* Espace entre les lignes */
}


