<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Order details</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

          <mat-toolbar>
            <mat-form-field class="create-payment">
               <input matInput value="Order" readonly>
               <mat-icon matSuffix>down_outline</mat-icon>
            </mat-form-field>
            
            <mat-form-field class="create-payment">
               <input matInput value="Customer" readonly>
               <mat-icon matSuffix>down_outline</mat-icon>
            </mat-form-field>
            <mat-form-field class="create-payment">
               <input matInput value="Product" readonly>
               <mat-icon matSuffix>down_outline</mat-icon>
            </mat-form-field>
            </mat-toolbar>

            <mat-toolbar>
                <mat-form-field class="create-payment">
                  <mat-label>Order IdEvent</mat-label>
                  <input matInput  class="form-control" id="orderIdEvent" readonly
                  [(ngModel)]="orderEvent.orderIdEvent" name="orderIdEvent">
                  <mat-icon matSuffix>check_circle</mat-icon>
                </mat-form-field>

                <mat-form-field class="create-payment">
                    <mat-label>Customer IdEvent</mat-label>
                    <input matInput  class="form-control" id="customerIdEvent" readonly
                    [(ngModel)]="orderEvent.order.customerIdEvent" name="customerIdEvent">
                    <mat-icon matSuffix>check_circle</mat-icon>
                  </mat-form-field>

                  <mat-form-field class="create-payment">
                    <mat-label>Product IdEvent</mat-label>
                    <input matInput  class="form-control" id="productIdEvent" readonly
                    [(ngModel)]="orderEvent.product.productIdEvent" name="productIdEvent">
                    <mat-icon matSuffix>check_circle</mat-icon>
                  </mat-form-field>
            </mat-toolbar>

            <mat-toolbar>
              <mat-form-field class="create-payment">
                <mat-label>Order Id</mat-label>
                <input matInput  class="form-control" id="id" readonly
                [(ngModel)]="orderEvent.id" name="id">
                <mat-icon matSuffix>check_circle</mat-icon>
            </mat-form-field>
            <mat-form-field class="create-payment">
              <mat-label>Customer Name</mat-label>
              <mat-icon matSuffix>person</mat-icon>
              <input matInput [(ngModel)]="orderEvent.order.customer.name" readonly
              /> 
          </mat-form-field>
                <mat-form-field class="create-payment">
                    <mat-label>Product name</mat-label>
                    <mat-icon matSuffix>inventory</mat-icon>
                    <input matInput [(ngModel)]="orderEvent.product.name"  id="productName"  name="productName" readonly
                    />
                </mat-form-field>
            </mat-toolbar>

            <mat-toolbar>
              <mat-form-field class="create-payment">
                <mat-label>Order date</mat-label>
                <input matInput  class="form-control" id="date" readonly
                [(ngModel)]="orderEvent.order.date" name="date">
                <mat-icon matSuffix>schedule</mat-icon>
              </mat-form-field>

              <mat-form-field class="create-payment">
                <mat-label>Customer Address</mat-label>
                <mat-icon matSuffix>home</mat-icon>
                <input matInput [(ngModel)]="orderEvent.order.customer.address" readonly
                />
            </mat-form-field>
            <mat-form-field class="create-payment">
              <mat-label>Product category</mat-label>
              <mat-icon matSuffix>category</mat-icon>
              <input matInput [(ngModel)]="orderEvent.product.category" name="category" id="category" readonly
              />
            </mat-form-field>
         </mat-toolbar>

            <mat-toolbar>

              <mat-form-field class="create-payment">
                <mat-label>Discount</mat-label>
                <input matInput  class="form-control" id="discount" readonly
                [(ngModel)]="orderEvent.discount" name="discount">
                <mat-icon matSuffix>paid</mat-icon>
              </mat-form-field>

             

              <mat-form-field class="create-payment">
                <mat-label>Customer mail</mat-label>
                <mat-icon matSuffix>mail</mat-icon>
                <input matInput [(ngModel)]="orderEvent.order.customer.email" readonly
                />
                 
            </mat-form-field>

            <mat-form-field class="create-payment">
              <mat-label>Product price</mat-label>
              <input matInput  class="form-control" id="amount" readonly
              [(ngModel)]="orderEvent.amount" name="amount">
              <mat-icon matSuffix>paid</mat-icon>
            </mat-form-field>
            </mat-toolbar>

            <mat-toolbar>
              <mat-form-field class="create-payment"> 
                <mat-label>Order status</mat-label>
                <input matInput  class="form-control" id="orderStatus" readonly
                [(ngModel)]="orderEvent.order.orderStatus" name="orderStatus">
                <mat-icon matSuffix>check_small</mat-icon>
              </mat-form-field>
               
              <mat-form-field class="create-payment">
                <mat-label>Customer phone</mat-label>
                <mat-icon matSuffix>phone</mat-icon>
                <input matInput [(ngModel)]="orderEvent.order.customer.phone" readonly
                />
                 
            </mat-form-field>
            <mat-form-field class="create-payment">
              <mat-label>Quantity</mat-label>
              <input matInput  class="form-control" id="quantity" readonly
              [(ngModel)]="orderEvent.quantity" name="quantity">
              <mat-icon matSuffix>balance</mat-icon>
            </mat-form-field>
           </mat-toolbar>
        
        </mat-card-content>
    </mat-card>
</div>





