.create-payment{
    
    margin-top: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    justify-content: center;
}


.create-payment input[readonly][value="Order"],
.create-payment input[readonly][value="Customer"],
.create-payment input[readonly][value="Product"] {
    background-color: #d1e7fd ; /* Bleu clair, ajuste la couleur selon ton besoin */
    font-weight: bold; /* Texte en gras */
   
    
}
.section-labels {
  display: flex;
  gap: 16px;
  margin: 24px 0 8px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-title {
  font-weight: bold;
  background-color: #f5f5f5;
  padding: 6px 12px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  flex: 1 1 auto;
  text-align: center;
  min-width: 100px;
}

.form-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 16px;
}

mat-form-field {
  width: 100%;
}

