<div class="container mt-4" style="max-width: 600px; margin-left: auto; margin-right: auto;">
  <mat-card>
   
    <mat-card-header>
      <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <mat-card-title>
          <mat-card-title>{{ 'payment.title' | translate }}</mat-card-title>
        </mat-card-title>
        <button mat-icon-button color="warn" (click)="close()" aria-label="Close">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
      <form #paymentForm="ngForm">
        <div class="row">
          <!-- Mode de paiement -->
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>{{ 'payment.mode' | translate }}</mat-label>
              <mat-icon matSuffix>attach_money</mat-icon>
              <mat-select [(ngModel)]="payment.paymentMode" name="mode" required #paymentCtrl="ngModel"
                          (selectionChange)="modeChange($event.value)">
                <mat-option *ngFor="let mod of modes" [value]="mod.name">
                  {{ mod.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="paymentCtrl.invalid && paymentCtrl.touched">
                {{ 'payment.errors.modeRequired' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Nom du client -->
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>{{ 'order.customerName' | translate }}</mat-label>
              <input matInput readonly [value]="order.customerName" />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <!-- Taxe -->
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>{{ 'payment.tax' | translate }}</mat-label>
              <input matInput readonly [value]="order.totalTax | number:'1.2-2'" />
              <mat-icon matSuffix>paid</mat-icon>
            </mat-form-field>
          </div>

          <!-- Réduction -->
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>{{ 'payment.discount' | translate }}</mat-label>
              <input matInput readonly [value]="order.totalDiscount | number:'1.2-2'" />
              <mat-icon matSuffix>paid</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <!-- Montant -->
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>{{ 'payment.amount' | translate }}</mat-label>
              <input matInput readonly [value]="payment.amount | number:'1.2-2'" />
              <mat-icon matSuffix>paid</mat-icon>
            </mat-form-field>
          </div>

          <!-- Montant total -->
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>{{ 'payment.totalAmount' | translate }}</mat-label>
              <input matInput readonly [value]="order.amount | number:'1.2-2'" />
              <mat-icon matSuffix>paid</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <!-- Bouton -->
        <div class="text-center mt-4">
          <button mat-flat-button color="primary" (click)="printPayment()" [disabled]="paymentForm.invalid">
            <mat-icon>paid</mat-icon>
            {{ 'payment.payNow' | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
