.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Espacement uniforme entre les champs */
    margin-bottom: 20px; /* Ajoute un espace entre les lignes */
}

.create-payment {
    margin-top: 20px; /* Réduit l'espace entre le haut et le bas */
    margin-bottom: 20px;
    width: 48%; /* Assure que les champs sont alignés en deux colonnes */
    
    
}

mat-form-field {
    width: 100%; /* Assure que les champs remplissent bien leur conteneur */
}

.button-payment {
    margin-top: 40px; /* Espacement entre le formulaire et le bouton */
    text-align: center;
}

button {
    width: 100%;
    max-width: 300px; /* Ajuste la taille du bouton */
}
mat-card-header {
    margin-bottom: 20px; /* Ajoute un espace sous le titre */
}
