html, body {
  height: 100%;
  margin: 0;
}

.admin-container {
  height: calc(100vh - 64px); /* assuming mat-toolbar height = 64px */
}

.admin-content {
  padding: 16px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

.vertical-divider {
  height: px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 8px;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.drawer-nav .drawer-item {
  margin-bottom: 12px;         /* Espace entre chaque bouton */
  padding-top: 8px;
  padding-bottom: 8px;

  align-items: center;
}

.drawer-nav .drawer-item .mat-icon {
  margin-right: 8px;
  font-size: 20px;
}

.notification-menu .mat-menu-item mat-icon {
  font-size: 10px;
  margin-right: 5px;
}



