<div class="container mt-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title><strong>{{ 'shippingList.title' | translate }}</strong></mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>
    <!-- 🔄 Spinner pendant le chargement -->
   <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner color="primary" diameter="50"></mat-spinner>
   </div>


    <mat-card-content  *ngIf="!isLoading">
      <!-- Barre de recherche -->
      <div class="shipping-toolbar">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>
            <mat-icon matSuffix>search</mat-icon>
            {{ 'shippingList.search' | translate }}
          </mat-label>
          <input matInput (keyup)="filterShip($event)" />
        </mat-form-field>
      </div>

      <!-- Tableau des livraisons -->
      <div class="table-container">
        <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Order Id -->
          <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'shippingList.orderId' | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.orderId }} </td>
          </ng-container>

          <!-- Customer Name -->
          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'shippingList.customerName' | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.customerName }} </td>
          </ng-container>

          <!-- Email -->
          <ng-container matColumnDef="customerMail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'shippingList.customerMail' | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.customerMail }} </td>
          </ng-container>
          <!-- amount -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'orderDetails.amount' | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.amount | number:'1.2-2' }} </td>
          </ng-container>

          <!-- Date -->
          <ng-container matColumnDef="eventTimeStamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'shippingList.eventTimeStamp' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.eventTimeStamp | date: 'dd/MM/yyyy' }}
            </td>
          </ng-container>

          <!-- Status -->
          <ng-container matColumnDef="shippingStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'orderDetails.status' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ 'shippingList.statusValues.' + element.shippingStatus | translate }}
            </td>
          </ng-container>

          <!-- Action -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="centered-column">
              {{ 'shippingList.action' | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="centered-column">
              <button mat-icon-button color="accent" (click)="shipOrder(element.orderId)">
                <mat-icon>local_shipping</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
              {{ 'createdOrders.noOrdersFound' | translate }}
            </td>
          </tr>

        </table>
      </div>

      <!-- Pagination -->
      <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons
        aria-label="Shipping pagination">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
