<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Dashboard</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
         
          <div class="chart-container">
            <h3>Best-selling products</h3>
            <div style="overflow: auto;">
            <ngx-charts-bar-vertical
              [view]="[barChartWidth, 450]"
              [results]="mostOrderedProducts"
              [scheme]="colorScheme"
              [gradient]="true"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [legendPosition]="legendPosition"
              [showDataLabel]="true"
              [barPadding]="10"
              [animations]="true"
              [roundEdges]="true">
            </ngx-charts-bar-vertical>
          </div>
          </div>

          <div class="chart-container">
            <h3>Top 10 customers</h3>
            <div style="overflow: auto;">
            <ngx-charts-bar-vertical
              [view]="[barChartWidth, 450]"
              [results]="mostOrderedCustomers"
              [scheme]="colorScheme"
              [gradient]="true"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [legendPosition]="legendPosition"
              [showDataLabel]="true"
              [barPadding]="20"
              [animations]="true"
              [roundEdges]="true">
            </ngx-charts-bar-vertical>
          </div>
          </div>

          <div class="chart-container">
            <h3>Products with remaining quantities</h3>
            <div style="overflow: auto;">
            <ngx-charts-bar-vertical
              [view]="[barChartWidth, 450]"
              [results]="products"
              [scheme]="colorScheme"
              [gradient]="true"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [legendPosition]="legendPosition"
              [showDataLabel]="true"
              [barPadding]="10"
              [animations]="true"
              [roundEdges]="true">
            </ngx-charts-bar-vertical>
          </div>
          </div>
          
        </mat-card-content>
    </mat-card>
</div>
