::ng-deep .snackbar-success {
  background-color: #28a745 !important; /* Bootstrap green */
  color: white !important;
  font-weight: bold;
  text-align: center;
}

::ng-deep .snackbar-error {
  background-color: #dc3545 !important; /* Bootstrap red */
  color: white !important;
  font-weight: bold;
  text-align: center;
}
