/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
    padding: 10px;
}



.spacer {
  flex: 1 1 auto;
}

/* styles.css */

body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

/* Appliquer la couleur à Angular Material cards */
body.dark-theme mat-card {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.light-theme mat-card {
  background-color: #ffffff;
  color: #000000;
}



mat-drawer {
  max-width: 250px;
  width: 100%;
}



::ng-deep .mat-menu-panel.wrap-menu {
  min-width: 280px !important;
  max-width: 400px !important;
  white-space: normal;
}

* {
  font-size: var(--font-size);
}

.cloche-wrapper {
  position: relative;
  display: inline-block;
}

.notif-badge {
  position: absolute;
  top: -8px;
  right: -8px; /* ⬅️ Décalé un peu à droite (ajuste selon ton besoin) */
  background-color: #f44336;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  height: 20px;
  width: 20px;
  line-height: 16px;
  text-align: center;
  pointer-events: none;
  box-shadow: 0 0 0 1px white;
}



