<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Home</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <div>
                        <h2>🛋️ GRANDE VENTE MOBILIER ! 🛋️</h2>
                        
                             📢 Transformez votre intérieur avec style et élégance ! 📢<br/>
                    
                    
                             🔥 Offres spéciales limitées 🔥:
                            <ul>
                                <li>
                                    ✅ -30% sur les tables à manger 🍽️
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    ✅ Livraison offerte dès 300$ d'achat 🚚
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    ✅ 2 chaises achetées = 1 offerte 🪑
                                </li>
                            </ul>
                       
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>
                        <h2>🛋️ GRANDE PROMO ÉLECTROMÉNAGER! 🛋️</h2>
                        
                            🧊 Réfrigérateurs ultra-performants <br/>
                    
                    
                            🔥 Offres spéciales limitées 🔥 :
                            <ul>
                                <li>
                                    ✅ Jusqu’à -50% sur une sélection de produits 🛒
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    ✅ Paiement en 4x sans frais disponible 💳
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    ✅ Livraison offerte dès 300$ d’achat 🚚
                                </li>
                            </ul>
                        
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>
                        <h2>🛋️ GRANDE VENTE HIGH-TECH ! 🛋️</h2>
                        
                            💻 PC Portables & Accessoires <br/>
                    
                    
                            🔥 Offres spéciales à ne pas manquer 🔥:
                            <ul>
                                <li>
                                    Jusqu'à -40% sur une sélection de produits 💰
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    ✅ Smartphone offert pour tout achat d’un PC Gamer ! 🎁
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    ✅ Livraison EXPRESS offerte dès 200$ d’achat 🚚
                                </li>
                            </ul>
                       
                    </div>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <div>
                        <h2>🛋️GRANDE VENTE COSMÉTIQUE ! 🛋️</h2>
                        
                            🌿 Soins Visage & Corps <br/>
                    
                    
                            🔥 Offres spéciales à ne pas manquer 🔥:
                            <ul>
                                <li>
                                    Jusqu'à -40% sur une sélection de produits 💰
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    ✅ 1 produit offert pour tout achat de plus de 2 produits ! 🎁
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    ✅ Livraison EXPRESS offerte dès 200$ d’achat 🚚
                                </li>
                            </ul>
                       
                    </div>
                </mat-grid-tile>
              </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>

